menu "Ethernet Configuration"

    config ETH_SPI_HOST
        int "SPI Host Number"
        range 0 2
        default 1
        help
            Set the SPI host used to communicate with the SPI Ethernet Controller.
    config ETH_SPI_SCLK_GPIO
        int "SPI SCLK GPIO number"
        default 6 
        help
            Set the GPIO number used by SPI SCLK.
    config ETH_SPI_MOSI_GPIO
        int "SPI MOSI GPIO number"
        default 7
        help
            Set the GPIO number used by SPI MOSI.
    config ETH_SPI_MISO_GPIO
        int "SPI MISO GPIO number"
        default 2
        help
            Set the GPIO number used by SPI MISO.
    config ETH_SPI_CLOCK_MHZ
        int "SPI clock speed (MHz)"
        range 5 80
        default 16
        help
            Set the clock speed (MHz) of SPI interface.
    config ETH_SPI_CS0_GPIO
        int "SPI CS0 GPIO number for SPI Ethernet module #1"
        default 5
        help
            Set the GPIO number used by SPI CS0, i.e. Chip Select associated with the first SPI Eth module).
    config ETH_SPI_INT0_GPIO
        int "Interrupt GPIO number SPI Ethernet module #1"
        default 4 
        help
            Set the GPIO number used by the first SPI Ethernet module interrupt line.
            Set -1 to use SPI Ethernet module in polling mode.
     config ETH_SPI_POLLING0_MS_VAL
        depends on ETH_SPI_INT0_GPIO < 0
        int "Polling period in msec of SPI Ethernet Module #1"
        default 10
        help
            Set SPI Ethernet module polling period.
    # Hidden variable to ensure that polling period option is visible only when interrupt is set disabled and
    # it is set to known value (0) when interrupt is enabled at the same time.
    config ETH_SPI_POLLING0_MS
        int
        default ETH_SPI_POLLING0_MS_VAL if ETH_SPI_POLLING0_MS_VAL > 0
        default 0
    config ETH_SPI_PHY_RST0_GPIO
        int "PHY Reset GPIO number of SPI Ethernet Module #1"
        default 3
        help
            Set the GPIO number used to reset PHY chip on the first SPI Ethernet module.
            Set to -1 to disable PHY chip hardware reset.
    config ETH_SPI_PHY_ADDR0
        int "PHY Address of SPI Ethernet Module #1"
        range 0 31
        default 1
        help
            Set the first SPI Ethernet module PHY address according your board schematic.

endmenu
